.animated-div {
  flex: 1;
  margin: 20px;
  padding: 20px;
  display: flex; /* Ensures children are aligned properly */
  align-items: center; /* Centers children vertically */
  justify-content: center; /* Centers children horizontally */
  overflow: hidden; /* Prevents overflow */
}

.animated-div img {
  width: 40vw; /* Makes the image take full width of its container */
  height: 40vh; /* Makes the image take full height of its container */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  border: 1px solid #ccc; /* normal border */
  border-radius: 4px;
  box-shadow: inset 10px 10px 6px rgb(255, 0, 0), /* glowing border */
               10px 10px 9px rgba(230, 7, 7, 0.347); /* secondary glow */
  border-radius: 20px;
}

.vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 100%; /* Makes the vertical container take full height */
  font-family: "Mothercode";
}

.vertical.right img{
  box-shadow: inset -10px 10px 6px rgb(255, 0, 0), /* glowing border */
               -10px 10px 9px rgba(230, 7, 7, 0.347); /* secondary glow */
}

.appearedText {
  text-align: center;
  max-width: 50vw;
  font-size: 20px;
  padding: 5px;
  height: 100%; /* Ensures the text container takes full height */
  display: flex; /* Allows children to use flexbox properties */
  flex-direction: column; /* Aligns text vertically */
  justify-content: center; /* Centers text vertically */
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  
  
  &:hover {
      filter: contrast(1.1);
  }
  
  &:active {
      filter: contrast(0.9);
  }
  
  &::before,
  &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border: 2px solid rgb(255, 0, 0);
      transition: all .5s;
      animation: clippath 3s infinite linear;
      border-radius: 10px;
  }
  
  &::after {
      animation: clippath 3s infinite -1.5s linear;
  }
}

@keyframes clippath {
  0%,
  100% {
      clip-path: inset(0 0 98% 0);
  }
  
  25% {
      clip-path: inset(0 98% 0 0);
  }
  50% {
      clip-path: inset(98% 0 0 0);
  }
  75% {
      clip-path: inset(0 0 0 98%);
  }
}



.appearedText h2 {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}

.heading {
  font-family: "Mothercode";
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 0.3rem;
  color: white;
  text-align: center;
  width: auto;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

@media (max-width: 800px) {
  .animated-div {
    margin: 5px;
    padding: 5px;
  }

  .animated-div img{
    width: 90vw;
    height: auto;
  }

  .vertical {
    flex-direction: column;
    margin: 0;
  }

  .vertical.right {
    flex-direction: column-reverse;
  }

  .heading {
    font-size: 1rem;
  }

  .appearedText {
    width: 90vw;
    max-width: 90vw;
    margin:5px;
  }

  .appearedText h2 {
    width: auto;
  }

  .appearedText p {
    font-size: smaller;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .animated-div img{
    box-shadow: none;
  }

  .vertical.right img{
    box-shadow: none;
  }
}
