.animated-div {
  flex: 1;
  margin: 20px;
  padding: 20px;
  display: flex; /* Ensures children are aligned properly */
  align-items: center; /* Centers children vertically */
  justify-content: center; /* Centers children horizontally */
  overflow: hidden; /* Prevents overflow */
}

.animated-div img {
  width: 40vw; /* Makes the image take full width of its container */
  height: 30vh; /* Makes the image take full height of its container */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  border: 1px solid #ccc; /* normal border */
  border-radius: 4px;
  box-shadow: inset 10px 10px 2px rgba(255, 0, 0, 0.4), /* glowing border */
               10px 10px 8px rgba(255, 0, 0, 0.2); /* secondary glow */
  border-radius: 20px;
}

.vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 100%; /* Makes the vertical container take full height */
  font-family: "Mothercode";
}

.vertical.right img{
  box-shadow: inset -10px 10px 2px rgba(255, 0, 0, 0.4), /* glowing border */
               -10px 10px 8px rgba(230, 7, 7, 0.347); /* secondary glow */
}

.appearedText {
  text-align: center;
  max-width: 50vw;
  font-size: 20px;
  height: 100%; /* Ensures the text container takes full height */
  display: flex; /* Allows children to use flexbox properties */
  flex-direction: column; /* Aligns text vertically */
  justify-content: center; /* Centers text vertically */
}

.appearedText h2 {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}

.heading {
  font-family: "Mothercode";
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 0.3rem;
  color: black;
  text-align: center;
  width: auto;
}

@media (max-width: 900px) {
  .animated-div {
    margin: 5px;
    padding: 5px;
  }

  .vertical {
    flex-direction: column;
    margin: 0;
  }

  .vertical.right {
    flex-direction: column-reverse;
  }

  .heading {
    font-size: larger;
  }

  .appearedText {
    max-width: 100vw;
    width: 100vw;
    margin-left: 5px;
    margin-right: 5px;
  }

  .appearedText h2 {
    width: auto;
  }

  .appearedText p {
    font-size: smaller;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
}
