.container {
  background-image: url("../../assets/images/AboutUs.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Cascadia Code, Fira Code, monospace;
}

.heading {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  grid-column: 1 / span 2;
}

h1.heading {
  font-size: 1.5rem;
  text-align: left;
}

.para {
  font-size: 1.5rem;
}

p.below {
  font-size: 1.5rem;
}

.content-with-logo {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cc-logo {
  align-self: center;
  justify-self: center;
  transition: all 0.5s;
}

.cc-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}
