.team {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.team-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* Optional: adds space between grid items */
}

.team-head {
  color: #e0e0e0;
  text-align: center;
  margin: 1.3rem;
  font-family: Mothercode;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  font-size: 1.5rem;
}

.team-container {
  padding: 5rem 3rem;
  font-family: Poppins, Arial, sans-serif;
  height: 100vh; /* Set height to viewport height to ensure it fills the screen */
}

.team-member {
  background-color: #1a1a1a;
  border: 0.1rem solid #333;
  border-radius: 0.3rem;
  margin-bottom: 0.9rem;
  padding: 0.6rem;
  transition: background-color 0.3s;
  width: 20rem;
  /* Ensure the cards expand properly in mobile view */
}

.team-member:hover {
  background-color: #333;
}

.collapsible {
  cursor: pointer;
  color: #f0f0f0;
  padding: 0.6rem;
  font-weight: bold;
}

.content {
  padding: 0.6rem;
  color: #ddd;
}

.por-image {
  width: 6.3rem;
  height: 6.3rem; /* Ensure image height matches width for circular shape */
  border-radius: 50%; /* Make image circular */
  margin-top: 0.6rem;
  object-fit: cover; /* Ensure image covers the area without distortion */
}

.social-media-handles img {
  width: 1.9rem;
  height: auto;
  margin: 0 0.3rem;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}

.team-card {
  height: 100%; /* Make sure the .team-card fills its parent's height */
  display: flex; /* Use flex to center the Canvas */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

/* Responsive Design */
@media (max-width: 768px) {
  .team-cont {
    display: flex; /* Change to flex for horizontal centering */
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    gap: 1rem; /* Space between items */
  }

  .team-card {
    display: none; /* Hide the 3D element */
  }

  .team-member {
    width: 90%; /* Full width for mobile */
    max-width: 400px; /* Maximum width to ensure it's not too large */
    margin-bottom: 1rem; /* Adjust spacing for mobile */
    /* Ensure card expands properly */
    flex-grow: 1; /* Allow the card to expand */
  }

  .team-container {
    height: min-content;
    padding: 2rem; /* Reduce padding for mobile */
  }
}
