.team {
  display: flex;
  flex-direction: column;
}

.team-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.team-head {
  color: #e0e0e0;
  text-align: center;
  margin: 1.3rem;
}

.team-container {
  padding: 5rem 3rem;
  font-family: Poppins, Arial, sans-serif;
}

.team-member {
  background-color: #1a1a1a;
  border: 0.1rem solid #333;
  border-radius: 0.3rem;
  margin-bottom: 0.9rem;
  padding: 0.6rem;
  transition: background-color 0.3s;
  width: 20rem;
}

.team-member:hover {
  background-color: #333;
}

.collapsible {
  cursor: pointer;
  color: #f0f0f0;
  padding: 0.6rem;
  font-weight: bold;
}

.content {
  padding: 0.6rem;
  color: #ddd;
}

.por-image {
  width: 6.3rem;
  height: auto;
  border-radius: 0.3rem;
  margin-top: 0.6rem;
}

.social-media-handles img {
  width: 1.9rem;
  height: auto;
  margin: 0 0.3rem;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}

.team-card {
  margin-top: 1.3rem;
  height: 50rem;
}

h1,
p {
  color: #ddd;
}
