* {
  box-sizing: border-box;
}

body,
html,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 500px) {
  body,
  html,
  #root,
  .App {
    width: 100%;
  }
}
